<div class="row p-5">
  <div class="col-*-*">
    <h6>THƯ VIỆN</h6>
    <h6>TRƯỜNG TIỂU HỌC PHONG TRẠCH A</h6>
  </div>
  <div class="col-*-*"></div>
</div>
<div class="row">
  <div class="col-*-*">
    <h4 class="text-center">QUẢN LÝ CHO HỌC SINH MƯỢN SÁCH</h4>
  </div>
</div>
<table class="table m-3">
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Mã HS</th>
      <th scope="col">Họ và tên</th>
      <th scope="col">Lớp</th>
      <th scope="col">Mã sách</th>
      <th scope="col">Tên sách</th>
      <th scope="col">Tên tác giả</th>
      <th scope="col">Tủ sách</th>
      <th scope="col">Số BM</th>
      <th scope="col">Ngày mượn</th>
      <th scope="col">Ngày trả</th>
      <th scope="col">Số ngày</th>
      <th scope="col">Ghi chú</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>3b045</td>
      <td>Lê Hồng Ni</td>
      <td>3B</td>
      <td>TN0166</td>
      <td>Vệ sinh ăn uống và giấc ngủ</td>
      <td>Thái Quang Sa dịch</td>
      <td>Thiếu nhi</td>
      <td>1442</td>
      <td>18/09/2017</td>
      <td>21/09/2017</td>
      <td colspan="2">3</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>3b035</td>
      <td>Phạm Mỹ Duyên</td>
      <td>3B</td>
      <td>TN0173</td>
      <td>An toàn khi ra đường</td>
      <td>Vũ Bội Tuyền dịch</td>
      <td>Thiếu nhi</td>
      <td>1432</td>
      <td>18/09/2017</td>
      <td>21/09/2017</td>
      <td colspan="2">3</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>4a182</td>
      <td>Tạ Thanh Tài</td>
      <td>4A</td>
      <td>TN0147</td>
      <td>Bình Tây Đại Nguyên Soái</td>
      <td>Hoài Anh, Nguyễn Đôn</td>
      <td colspan="2">Thiếu nhi</td>
      <td>18/09/2017</td>
      <td>21/09/2017</td>
      <td colspan="2">3</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>4a185</td>
      <td>Từ Gia Trần</td>
      <td>4A</td>
      <td>TN0058</td>
      <td>Nỗi kinh hoàng ở Amazone</td>
      <td>Phil Gates</td>
      <td colspan="2">Thiếu nhi</td>
      <td>18/09/2017</td>
      <td>21/09/2017</td>
      <td colspan="2">3</td>
    </tr>
  </tbody>
</table>